global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: 'windows_exporter'
    metrics_path: /metrics
    file_sd_configs:
      - files: [ 'targets-pc-windows.yml' ]

  - job_name: 'node_exporter_virt_server'
    static_configs:
      - targets:
        - 192.168.121.212:9100

  
  - job_name: 'windows_exporter_virt_server'
    static_configs:
      - targets:
          - srv-kaspersky.satoms.local:9182
          - srv-ps.satoms.local:9182

  - job_name: 'windows_exporter_phisic_server'
    static_configs:
      - targets: []

  - job_name: '1c_virt_server'
    static_configs:
      - targets:
          - srv-mssql01.satoms.local:9182
          - srv-1c02.satoms.local:9182
          - srv-1cWeb.satoms.local:9182
          - srv-1c-lic0.satoms.local:9182
          - srv-1c01.satoms.local:9182

  - job_name: 'ASCON_virt_server'
    static_configs:
      - targets:
          - Ascon.satoms.local:9182
          - srv-asconLicense.satoms.local:9182
          - asconLicense-2.satoms.local:9182
